<mat-toolbar color="primary" class="toolbar">
  <a routerLink="/catalogo" class="brand">Interrapidísimo Store</a>
  <span class="spacer"></span>

  <a mat-button routerLink="/catalogo">Catálogo</a>

  @if (authService.isAuthenticated()) {
    <a mat-button routerLink="/carrito">
      <mat-icon>shopping_cart</mat-icon>
      Carrito
    </a>
    <app-points-badge></app-points-badge>
    <button mat-button (click)="logout()">Salir</button>
  } @else {
    <a mat-button routerLink="/login">Ingresar</a>
    <a mat-button routerLink="/registro">Registrarme</a>
  }
</mat-toolbar>

<main>
  <router-outlet></router-outlet>
</main>
